body{
    font-family: 'Gill sans', sans-serif;
    background-image: url('../images/ghana.jpg');
    background-repeat: no-repeat;
    background-size:cover , 150% ;
    color: black;
    font-size: 19px;
  }